.nav {
  display: none;
}

.nav-link.active {
  color: #ea4c89;
}

@media screen and (min-width: 1024px) {
  .nav {
    display: none;
    display: flex;
    justify-content: space-between;

    &-link {
      padding-left: 30px;
      text-decoration: none;
      color: black;
      white-space: nowrap;
    }
  }
}
