.gallery{
    align-items: center;
    display: flex;
    flex-direction: column;

    .row{
        margin-bottom: 16px;
    }

    .grid{
        display: grid;
        grid-template-columns: repeat(4, 25%);
        grid-column-gap: 8px;

    }

    .image-card{
        width: 200px;
        height: 200px;
        border-radius: 4px;

        &:hover{
            cursor: pointer;
        }
    }
}